* {
 font-family:"Playfair Display";
 font-size:1.2vmax;
}
body {
  background-color: lightblue;
  
}

h1 {
font-size:2.5vmax;
margin-left:5%;
margin-right:5%;

}


form input {
font-size:0.8vmax;
margin-top:-1%;

width:40vw;
text-align:center;
}

button {

font-size:0.8vmax;
margin-top:1%;

width:40vw;
text-align:center;

}

.form  {
margin-top:7.5vh;
font-size:1.5em;

}




